@page
@model DotNet_Practice3.Pages.IndexModel

<div> 
    @using (Html.BeginForm(FormMethod.Post) )
    {
        <p>Enter Selection: @Html.DropDownListFor(x=>x.selection ,new List<SelectListItem>()
                {
                    new SelectListItem("Gorup by","groupBy"),
                    new SelectListItem("get number of elements","getNum")
                    
                }) </p>
        <p><input type="submit" value="Submit Selection"/></p>
    }
    @if (ViewData["data"] != null)
    {
        <div>
            @ViewData["data"]
        </div>
    }

    @if (ViewBag.message != null)
    {
        <p style="color:red;">@ViewBag.message</p>
    }
</div>