@page
@model DotNet_Practice3.Pages.IndexModel

<div> 
    @using (Html.BeginForm(FormMethod.Post) )
    {
        <p>Enter user name: @Html.TextBoxFor(x => x.uname) </p>
        <p>password:@Html.PasswordFor(x => x.pass)</p>
        <p><input type="submit" value="Submit registration information"/></p>
    }

    <h1>Name: @Model.uname</h1>
    <h1>Pass: @Model.pass</h1>
</div>